@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* html body{
    width: 100%;
} */

.top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.top img{
    width: 15%;
}

.top2{
    width: 40%;
}

form{
    margin-top: 20px;
}

form input{
    border: 0;
    outline: 0;
    border: 2px solid blue;
    padding: 14px;
    width: 200px;
    border-radius: 7px;
}

#sbt{
    background-color: blue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 12px;
}

.lowOrHi{
    background-color: wheat;
    width: 45%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    padding: 10px 50px 10px 50px;
    border-radius: 7px;
    font-weight: 400;
}

.para{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.prevGuess{
    background-color: rgb(79, 78, 78);
    color: white;
    padding: 10px;
    text-align: center;
    margin: 3px;
    width: 35%;
    border-radius: 7px;
}

.remGuess{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 3px;
    width: 13%;
    border-radius: 7px;
}

#restart{
    cursor: pointer;
    text-decoration: underline;
}